.gridForm {
  &.reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: auto;
    .main {
      display: inline-grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-column: 1;
      grid-row: 2;
      padding: 0 30px;
    }
    .field {
      position: relative;
      flex-direction: column;

      &.header {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        h1 {
          color: $orange;
        }
        .loginText {
          span.small {
            position: relative;
            color: $placeholder;
            font-size: 12px;
            top: 0;
            left: 0;
          }
        }
      }
      &.one {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      &.footer {
        grid-column: 1;
        grid-row: 5;
        text-align: center;
        button {
          width: calc(100% / 2);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .gridForm {
    &.reset {
      .field {
        position: relative;
        flex-direction: column;

        &.header {
          grid-column: 1;
          grid-row: 1;
          text-align: center;
          h1 {
            color: $orange;
          }
        }
        &.one {
          grid-column: 1 / span 2;
          grid-row: 1;
        }
        &.footer {
          grid-column: 1;
          grid-row: 5;
          text-align: center;
          padding: 0 30px;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
